
# HTID:18646621: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18646621:

<Files "*.json">
    Order Deny,Allow
    Deny from all
</Files>